
.full{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#vote{
    background: white;     
    z-index: 1;
    cursor: pointer;
}
#vote #votes > div{
    position: absolute;
    top: 0;
    /*left: 0;*/
    width: 50%;
    height: 100%;
    opacity: 0.5;

    background-repeat: no-repeat; 
    background-position: center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#vote #votes > div:hover{
    /*opacity: 1;*/
}
.preSelect{
    opacity: 1 !important;
}

#vote1{
    background: url(../img/opt1.jpg);
    position: absolute;
    left: 0;
}
#vote2{
    background: url(../img/opt2.jpg);
    position: absolute;
    left: 50%;
}
#vs{
    position: absolute;
    width: 250px;
    /*height: 200px;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    pointer-events: none;
    
/*    background: url(../img/vs.png);
    background-size: 100%;
    background-repeat: no-repeat;*/
}

.no-click{
    pointer-events: none;
}

.marker{
    border: 1px solid grey;
    width: 1px;
    height: 1px;
    transform: translate(-50%, -50%);
    transition: width,height 300ms;
}
.marker.animation{
    width: 20px;
    height: 20px;
}
