
.full{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#vote{
    background: white;     
    z-index: 1;
    cursor: pointer;
}
#vote > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0.8;

    background-repeat: no-repeat; 
    background-position: center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#vote > div:hover{
    background-size: 105%;
    opacity: 1;
}
.vote1{
    background: url(../img/opt1.jpg);
    position: absolute;
    left: 0;
}
.vote2{
    background: url(../img/opt2.jpg);
    position: absolute;
    left: 50%;
}

.no-click{
    pointer-events: none;
}
